*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin',sans-serif;
}
body{
   
    min-height: 100vh;
    background: url("image.webp+") no-repeat;
    background-size: cover;
    background-position: center;

}
.navbar{
     position: fixed; 
    width:100%;
    height:80px;
      padding: 0 3vw  ;
    /* background-color: blueviole; */
    display: flex;
    justify-content:space-between;
    align-items: center;


}
.navbar h1{
    font-size:5vw ;
    font-weight: 700;
    color: #fff;
}
.nav_item{
    display: flex;
    align-items: center;
    
}
.nav_item a{
 position: relative; 
 font-size: 1.1em;
 color:#fff;
 text-decoration: none;
 font-weight: 500;
 margin-left: 2vw;
}

.btnlogo{
    height: 40px;
    width:5em;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    margin-left: 2vw; 
    transition: .5s;  /* margin-left: 2vw; */
}
.btnlogo:hover{
    background-color:#fff ;
    color:#162938;
}
/* @media (max-width:600px) {
   
    
} */



  /* .container{
   min-height: 100px;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: visible;
   
}

.form_box{
    height: 400px;
    width: 20%;
    /* background-color: antiquewhite; 
}   
